<h2 class="content-subhead" id="classificando-os-elementos-html">
	<a href="#classificando-os-elementos-html" class="anchor"></a>
	track-submit, data-conversion, data-content
</h2>

<p>
	Exemplo de implementação de formulário com classes e atributos personalizados </b>.
</p>
<div class="contentModalBlack" data-content="modal">
<form 
	id="form"
	name="form"
	class="track-submit pure-form pure-form-stacked"
	data-conversion="agendamento" 
	action=""
	method="POST">
	<fieldset>
		<legend>Agendamento</legend>
		
		<label for="nome">Nome</label>
		<input id="nome" type="text" placeholder="Nome">

		<label for="email">Email</label>
		<input id="email" type="email" placeholder="Email">

		<label for="horario">Horário</label>
		<select id="horario">
			<option value="manha">Período da Manhã</option>
			<option value="tarde">Período da Tarde</option>
		</select>

		<button type="submit" class="pure-button pure-button-primary">Enviar</button>
	</fieldset>
</form>
</div>
<highlight-code class="xml" width="100%" height="auto">
&lt;form 
	id="form"
	name="form"
	class="track-submit pure-form pure-form-stacked"
	data-conversion="agendamento" 
	action=""
	method="POST">
	&lt;fieldset>
		&lt;legend>Agendamento&lt;/legend>
		
		&lt;label for="nome">Nome&lt;/label>
		&lt;input id="nome" type="text" placeholder="Nome">

		&lt;label for="email">Email&lt;/label>
		&lt;input id="email" type="email" placeholder="Email">

		&lt;label for="horario">Horário&lt;/label>
		&lt;select id="horario">
			&lt;option value="manha">Período da Manhã&lt;/option>
			&lt;option value="tarde">Período da Tarde&lt;/option>
		&lt;/select>

		&lt;button type="submit" class="pure-button pure-button-primary">Enviar&lt;/button>
	&lt;/fieldset>
&lt;/form>
&lt;/div>

</highlight-code>
	



<h2 class="content-subhead" id="track-click"> 
	<a href="#track-click" class="anchor"></a>
	track-click
</h2>	

<p>
	Exemplo de implementação de botão ou link.
</p>

<div class="banner" data-content="banner" >
			
		<button class="track-click pure-button pure-button-primary">
			Fazer cotação
		</button>
		
</div>


<highlight-code width="100%" height="auto">
&lt;div class="banner" data-content="banner" >
			
		&lt;button class="track-click pure-button pure-button-primary">
			Fazer cotação
		&lt;/button>

&lt;/div>

</highlight-code>