<h2 id="iframe-cross-domain" class="content-subhead">
	<a href="#iframe-cross-domain" class="anchor"></a>
	Como acompanhar vários iframes
</h2>
<p>
	O Google Analytics utiliza cookies para identificar os usuários e suas visitas, esses cookies são sempre gravados no domínio do onde o GA é carregado, para acompanhar uma visita que começa no domínio A e termina com uma interação no domínio B através de um <span class="code">iframe</span> precisamos que esses cookies sejam copiados do domínio de entrada para o domínio do iframe.
</p>
<p>
	Essa cópia de cookies é feita através de um parâmetro na url do <span class="code">iframe</span>, esse parâmetro é gerado pelo GA, sendo assim precisamos que o iframe seja criado dinamicamente via <span class="code">JavaScript</span>, para facilitar essa implementação disponibilizamos em nossa biblioteca o método <span class="code">addiFrame</span>, disponível assim que o GTM é carregado.
</p>

<table class="pure-table pure-table-bordered" width="100%">
	<caption>lucida.addiFrame</caption>
	<thead>
		<tr>
			<th>parâmetro</th>
			<th>tipo</th>
			<th>descrição</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>divId</td>
			<td>string</td>
			<td>id da div onde o iframe deve ser criado</td>
		</tr>
		<tr>
			<td>url</td>
			<td>string</td>
			<td>url/source do iframe</td>
		</tr>
		<tr>
			<td>opt_hash</td>
			<td>boolean</td>
			<td>utilizar copia de cookie por hash [opcional]</td>
		</tr>
	</tbody>
</table>

<highlight-code class="javascript" width="100%" height="auto">
lucida.addiFrame('myIframe', 'http://lucida.com.br');

</highlight-code>

<p>
	Chame esta função depois do script do GTM ou no dom ready da página, dessa forma a biblioteca já estará disponível.
</p>

<h2 id="parametros-server-side" class="content-subhead">
	<a href="#parametros-server-side" class="anchor"></a>
	Copia de parâmetros via server-side
</h2>

<p>
	O GA insere o parâmetro <span class="code">_ga</span> na url com valor dinâmico para passar o id do usuário para o novo domínio. Esse parâmetro deve ser copiado para o destino do redirecionamento <span class="code">server-side</span> caso exista, independente da origem esse parâmetro sempre deve ser inserido na url de destino.
</p>

<p>
	Considerando os <span class="code">iframe</span> da Hypnobox que são apontados para <span class="code">index.php</span>, mas um redirecionamento leva o usuário para <span class="code">entrar.php</span>, o GA criará uma url semelhante a:
</p>
<highlight-code width="100%" height="auto">
index.php?id_produto=1&_ga=1.174460642.1962266889.1396024688

</highlight-code>

<p>
	E o redirecionamento <span class="code">server-side</span> deve ser feito retornando status 302 para o navegador e mantendo o parâmetro <span class="code">_ga</span> com seu respectivo valor, resultando em:
</p>
<highlight-code width="100%" height="auto">
entrar.php?_ga=1.174460642.1962266889.1396024688

</highlight-code>

<p>
	Dessa forma a visita que se iniciou em uma landing page continuará no ambiente da Hypnobox, permitindo o cruzamento de informações dos dois ambientes.
</p>

