<h2 class="content-subhead" id="enriquecendo-o-mapeamento-com-atributos-data-*">
	<a href="#enriquecendo-o-mapeamento-com-atributos-data-*" class="anchor"></a>
	Enriquecendo o mapeamento atributos <span class="code">data-*</span>
</h2>
<p>
	O HTML5 trouxe a <a href="http://www.w3.org/TR/2011/WD-html5-20110525/elements.html#embedding-custom-non-visible-data-with-the-data-attributes">especificação <em>custom data attributes</em></a> que permite adicionar mais informação aos elementos HTML, informações que não necessariamente precisam ser repassadas para o usuário.
</p>
<h3 id="data-conversion">
	<a href="#data-conversion" class="anchor"></a>
	data-conversion
</h3>
<p>
	Nos utilizamos os <span class="code">custom data attributes</span> para enriquecer a identificação das conversões que uma determinada ação pode causar, como um site pode ter vários tipos de conversão, como assinar um feed, acessar um chat, solicitar contato ou adquirir um produto, nos utilizamos o atributo <span class="code">data-conversion</span> para distinguir essa conversão.
</p>
<p>
	Ainda seguindo o nosso exemplo de botão, vamos considerar que existem 3 possíveis conversões no site.
</p>
<ul>
	<li>Cotação via Chat</li>
	<li>Solicitar contato</li>
	<li>Agendar contato</li>
</ul>
<p>Todos geram possíveis conversões a partir de um clique, mas como distingui-las?</p>
<highlight-code class="xml" width="100%" height="auto">
&lt;a href="#" class="track-click" data-conversion="chat">
	Acesso o chat
&lt;/a>
&lt;a href="#" class="track-click" data-conversion="ligue-me">
	Nos ligamos para você
&lt;/a>
&lt;a href="#" class="track-click" data-conversion="agendamento">
	Agendar contato
&lt;/a>
&lt;a href="#" class="track-click" data-conversion="whatsapp">
	Atendimento via whatsapp
&lt;/a>

</highlight-code>
<p>Dessa forma, mesmo se o tipo de conversão não puder ser lido no <span class="code">HTML</span> da página, por se tratar de uma imagem por exemplo, esse dado vai ser encontrado no atributo <span class="code">data-conversion</span>.</p>

<h3 id="data-content">
	<a href="#data-content" class="anchor"></a>
	data-content
</h3>
<p>
	Assim como podemos encontrar várias possíveis conversões em um site, também é possível que uma mesma conversão seja acessível por ações em diferentes locais da página.
</p>
<p>
	Podemos ter uma chamada a ação vinda de um banner ou destaque e outra no rodapé, após um conteúdo explicativo, nesse caso precisamos não apenas identificar qual é a conversão, mas também de onde ela partiu.
</p>
<p>
	Para solucionar esse problema usamos o atributo <span class="code">data-content</span>, que deve ser inserida nos elementos delimitadores de layout da página, <span class="code">header</span>, <span class="code">menu</span>, <span class="code">footer</span>, <span class="code">sidebar</span>, <span class="code">lightbox</span>, <span class="code">banner</span> e <span class="code">main</span>, 
</p>
<p>
	Com esses atributos, sempre que o usuário interagir com um elemento HTML que deve ser mapeado, nossos scripts vão buscar o atributo <span class="code">data-conversion</span> desse elemento e o <span class="code">data-content</span> do seu antecessor ancestral mais próximo, mantendo nosso exemplo anterior, vamos supor que nosso botão pode ser encontrado em um banner de destaque e no rodapé do site.
</p>
<highlight-code class="xml" width="100%" height="auto">
&lt;!-- banner principal -->
&lt;div class="baseBannerTexto" data-content="banner">
	&lt;a href="#" class="btCotacaoG track-click"
	  data-conversion="chat">
		faça uma cotação
	&lt;/a>
&lt;/div>

&lt;!-- ... -->

&lt;!-- rodape -->
&lt;div class="baseFooterInner" data-content="foooter">
	&lt;ul class="menuBase">
		&lt;li class="menuBaseliOn">
			&lt;div class="menuBaselabel especialBold track-click"
				data-conversion="chat">
				COTAÇÃO VIA&lt;br>CHAT
			&lt;/div>
		&lt;/li>
		&lt;li class="menuBaseli">	
			&lt;div class="menuBaselabel especialBold track-click"
				data-conversion="ligue-me">
				LIGAMOS&lt;br>PARA VOCÊ
			&lt;/div>
		&lt;/li>
		&lt;li class="menuBaseli">
			&lt;div class="menuBaselabel especialBold track-click"
				data-conversion="agendamento">
				AGENDAMENTO&lt;br>DE CONTATO
			&lt;/div>
		&lt;/li>
		&lt;li class="menuBaseli">
			&lt;div class="menuBaselabel especialBold track-click"
				data-conversion="whatsapp">
				ATENDIMENTO VIA WHATSAPP
			&lt;/div>
		&lt;/li>
	&lt;/ul>
&lt;/div>

</highlight-code>

<p>
	Dessa forma mesmo se tratando de elementos completamente diferentes, podemos identificar de onde partiu cada conversão, banner ou rodapé, que levou o usuário ao chat.
</p>