<!-- Menu toggle -->
<a href="#menu" class="menuLink" class="menu-link">
	<!-- Hamburger icon -->
	<span></span>
</a>

<nav class="menu" id="menu">
	<div class="pure-menu pure-menu-open">
		<a class="logo" href="http://lucida.com.br" title="Lúcida - Métricas que fazem sentido">Lúcida</a>
		<ul>
			<li><a class="nav-link" href="#classificando-os-elementos-html">
				Classes
			</a></li> 
			<li><a class="nav-link" href="#enriquecendo-o-mapeamento-com-atributos-data-*">
				Atributos data-* <!-- resolver -->
			</a></li> 
		</ul>
	</div>
</nav>