<!-- Menu toggle -->
<a href="#menu" class="menuLink menu-link">
	<!-- Hamburger icon -->
	<span></span>
</a>

<nav class="menu" id="menu">
	<div class="pure-menu pure-menu-open">
		<a class="logo" href="http://lucida.com.br" title="Lúcida - Métricas que fazem sentido">Lúcida</a>
		<ul>
			<li><a class="nav-link" href="index.html">
				Objetivo
			</a></li>
			<li><a class="nav-link" href="classes.html">
				Classes
			</a></li> 
			<li><a class="nav-link" href="custom-data-attributes.html">
				Atributos data-*
			</a></li> 
			<li><a class="nav-link" href="iframes.html">
				iFrames
			</a></li>
		</ul>
	</div>
</nav>