<h2 class="content-subhead" id="objetivo">
	Objetivo deste documento
</h2>
<p>
	Este é um guia para ser utilizado na nas landing pages da Porto Seguro (atuais e futuras), o documento descreve alguns ajustes que devem ser aplicados no <span class="code">HTML</span> para padronizar e facilitar a implementação do Google Analytics através do Google Tag Manager.
</p>
<p>
	O padrão que deve ser seguido consiste nas etapas:
</p>
<ol>
	<li><a href="">Classes HTML</a></li>
	<li><a href="">Atributo <span class="code">data-conversion</span></a></li>
	<li><a href="">Atributo <span class="code">data-content</span></a></li>
	<li><a href="">Acompanhamento de iframes</a></li>
</ol>