<h2 class="content-subhead" id="objetivo">
	<a href="#objetivo" class="anchor"></a>
	Objetivo deste documento
</h2>
<p>
	Este é um guia para ser utilizado na nas landing pages da Porto Seguro (atuais e futuras), o documento descreve alguns ajustes que devem ser aplicados no <span class="code">HTML</span> para padronizar e facilitar a implementação do Google Analytics através do Google Tag Manager.
</p>
<p>
	O padrão que deve ser seguido consiste nas etapas:
</p>
<ol>
	<li><a href="classes.html">Classes <span class="code">HTML</span></a></li>
	<li><a href="custom-data-attributes.html#data-conversion">Atributo <span class="code">data-conversion</span></a></li>
	<li><a href="custom-data-attributes.html#data-content">Atributo <span class="code">data-content</span></a></li>
	<li><a href="iframes.html">Acompanhamento de <span class="code">iframes</span></a></li>
	<li><a href="datalayer.html">Monitoramento de lead gerado</a></li>
</ol>